---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import ExperienceCard from '@/components/ExperienceCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllExperience } from '@/lib/data-utils'

const experience = await getAllExperience()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Experience" />
  <Breadcrumbs items={[{ label: 'Experience', icon: 'lucide:briefcase' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h1 class="mt-0">Experience</h1>
        <p>
          My professional experience in software development, with a focus on Android development, 
          networking technologies, and privacy-focused solutions.
        </p>
      </div>

      <div class="flex flex-col gap-4">
        {experience.map((exp) => <ExperienceCard experience={exp} />)}
      </div>
    </div>
  </section>
</Layout>
