---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">👋 Hi, I'm Tamim</h3>
        <p class="text-muted-foreground text-sm">
          Founder, CEO & Lead Developer at <Link
            href="https://thebytearray.org"
            class="text-foreground"
            external
            underline>The Byte Array</Link>
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          I build privacy-focused opensource software solutions for a better digital life. 
          Currently focused on <span class="text-foreground font-medium">Network Programming</span> and 
          <span class="text-foreground font-medium">Android Development</span>, with a passion for 
          <span class="text-foreground font-medium">On Device ML</span> and 
          <span class="text-foreground font-medium">VPN/Proxy technologies</span>.
        </p>
        <p class="text-muted-foreground text-sm">
          My favorite Android development topics include Jetpack Compose, Clean Architecture, 
          Custom Views & Animations, NDK & Low Level Development, VPNService, and Reverse Engineering. 
          Check out my <Link
            href="/projects"
            class="text-foreground"
            underline>projects</Link
          > or connect with me on <Link
            href="https://github.com/codewithtamim"
            class="text-foreground"
            underline
            external>GitHub</Link
          >.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
